<header class="header" id="site-header">
    <div class="header-container container">
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 6H19M5 18H19M5 12H19" stroke="#D3E2E2" stroke-linecap="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#about">About the Game</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#growth">Growth Mechanics</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#environmental">Environmental Interaction</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#experience">Experience Flow</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#features">Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#gallery">Gallery</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#about">About the Game</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#growth">Growth Mechanics</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#environmental">Environmental Interaction</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#experience">Experience Flow</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#features">Features</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#gallery">Gallery</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>
    </ul>
    <ul class="mobile-navigation">
        <li class="mobile-link">
            <a class="mobile-underline" href="privacy.html">Privacy Policy</a>
        </li>
        <li class="mobile-link">
            <a class="mobile-underline" href="terms.html">Terms & Conditions</a>
        </li>
        <li class="mobile-link">
            <a class="mobile-underline" href="cookies.html">Cookies Policy</a>
        </li>
    </ul>
</div>