<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Grow What Was Never Meant to Grow</h1>
            <p class="home-text">Shape a garden that doesn’t follow rules.</p>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-container">
        <div class="container title-wrapper">
        <h2>About the Game</h2></div>
    </div>
    <div class="container">
        <h3>Sometimes weird<br class="mob"/>
        is better than logical</h3>
        <p class="about-text">Silentfield Crest: Veil Garden is not about farming in a traditional way. Instead, it invites players to interact with a
        living environment that responds to presence and change. Seeds transform into unexpected shapes, and growth follows
        patterns that are not always predictable. Give it some time and you'll figure out there's actually a pattern to all this
        chaos.</p>
    </div>
</section>
<section class="growth-section" id="growth">
    <div class="title-container">
        <div class="container title-wrapper">
            <h2>Growth Mechanics</h2>
        </div>
    </div>
    <div class="container">
        <h3>Everything evolves differently</h3>
        <p class="growth-text">Players plant abstract seeds that grow into unique structures.<br class="desk"/> Some expand upward, others spread across the ground,
        while some react to nearby elements.<br class="desk" /> There is no single “correct” result — only variations.</p>
        <div class="swiper core-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                   <p>Plant seeds in open space areas to begin shaping</p>
                </div>
                <div class="swiper-slide">
                    <p>Observe how new forms slowly develop over time</p>
                </div>
                <div class="swiper-slide">
                    <p>Influence growth by placing elements nearby</p>
                </div>
                <div class="swiper-slide">
                    <p>Combine structures to create new outcomes</p>
                </div>
            </div>
        </div>
    </div>
</section>