<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Grow What Was Never Meant to Grow</h1>
            <p class="home-text">Shape a garden that doesn’t follow rules.</p>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-container">
        <div class="container title-wrapper">
        <h2>About the Game</h2></div>
    </div>
    <div class="container">
        <h3>Sometimes weird<br class="mob"/>
        is better than logical</h3>
        <p class="about-text">Silentfield Crest: Veil Garden is not about farming in a traditional way. Instead, it invites players to interact with a
        living environment that responds to presence and change. Seeds transform into unexpected shapes, and growth follows
        patterns that are not always predictable. Give it some time and you'll figure out there's actually a pattern to all this
        chaos.</p>
    </div>
</section>