.footer {
background: #2a3c3d;
}

.footer-container {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  gap: 13px;
text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f0f5f5;
}

.footer-text {
color: #f0f5f5;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer-navigation {
    gap: 8px;
    font-size: 16px;
  }

  .footer-text {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}