.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 748px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    margin-top: 64px;
}
.home-title{
    font-family: "Prata", sans-serif;
        font-weight: 400;
        font-size: 44px;
        line-height: 1.5;
        color: #162425;
        text-align: left;
}
.home-text{
    font-family: "Manrope", sans-serif;
        font-weight: 300;
        font-size: 28px;
        line-height: 1.5;
        color: #162425;
        text-align: left;
}
@media only screen and (min-width: 1440px) {
   .home-section{
    background-image: url("/img/home/desk.png");
height: 760px;
   }
   .home-wrapper{
    width: 684px;
   }
   .home-title{
    font-size: 64px;
   }
   .home-text{
    font-size: 32px;
   }
}
/* About the Game */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 269px;
    height: 718px;
}
.title-wrapper{
    padding-top: 64px;
    padding-bottom: 16px;
}


@media only screen and (min-width: 1440px) {
.about-section {
        background-image: url("/img/about/desk.png");
        background-size: 100% 804px;
height: 1208px;
    }
 .mob {
     display: none;
 }
    .about-text{
    width: 869px;
    margin-left: auto;
    margin-right: auto;
}
}
/* Growth Mechanics */
.growth-section{
    background-image: url("/img/growth/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 286px;
    height: 791px;
}
.growth-text{
    width: 303px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.core-swiper .swiper-slide{
    border-radius: 0 0 16px 16px;
        padding: 32px;
        width: 210px;
        height: 94px;
        background: linear-gradient(180deg, #f0f5f5 0%, #d8d0d7 100%);
        font-size: 10px;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
 .growth-section{
 background-image: url("/img/growth/desk.png");
    background-size: 100% 516px;
    height: 1036px;
 }
 .desk {
     display: block;
 }
 .growth-text{
    width: 100%;
 }
 .core-swiper .swiper-wrapper{
    justify-content: center;
    gap: 32px;
 }
 .core-swiper .swiper-slide {
padding: 32px 64px;
width: 280px;
    height: 100px;
font-size: 12px;
 }
}
/* Experience Flow */
.experience-section{
    background: #d3e2e2;
    background-image: url("/img/experience/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 547px;
    height: 816px;
}
@media only screen and (min-width: 1440px) {
.experience-section {
        background: #d3e2e2;
        background-image: url("/img/experience/desk.png");
        background-size: 100% 717px;
        background-position: bottom center;
height: 845px;
    }
.experience-subtitle{
    text-align: left;
}
.experience-text{
    text-align: left;
}
}
/* Features */
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 234px;
    height: 721px;
}
.features-text{
    margin-bottom: 40px;
}
.features-swiper .swiper-slide{
border-radius: 0 0 16px 16px;
    padding: 32px 16px;
    width: 120px;
    height: 94px;
background: linear-gradient(180deg, #f0f5f5 0%, #e4d2ca 100%);
font-size: 10px;
display: flex;
align-items: center;
justify-content: center;
}
@media only screen and (min-width: 1440px) {
.features-section {
        background-image: url("/img/features/desk.png");
        background-size: 100% 572px;
height: 1080px;
    }
    .features-swiper .swiper-wrapper{
        justify-content: center;
        gap: 32px;
    }
.features-swiper .swiper-slide{
    padding: 32px;
        width: 220px;
        height: 100px;
font-size: 12px;

}
}