@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./cookie-popup.css');


.background {
    text-align: left;

}

.privacy-title {
text-align: center;
letter-spacing: 0.04em;
    margin-top: 30px;
    margin-bottom: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .policy-container {
        padding-left: 223px;
        padding-right: 223px;
    }
.background {
font-size: 14px;
}
}